<ul class="nav nav-pills pull-right">
    <li>@Html.ActionLink("Adicionar", "Index", "Email")</li>
    <li>@Html.ActionLink("Listar", "ListarEmail", "Email")</li>
</ul>
<h3 class="text-muted">E-mail</h3>