<form action="/Nome/Adiciona" method="post">

    <p>
        <label for="nome">Nome:</label>
        <input id="nome" name="nome.NomeContato" class="form-control" required/>
    </p>

    <input type="submit" value="Cadastrar" class="btn btn-outline-secondary" />
</form>