@model IList<AgendaContato.Models.Nome>

<ul class="nav nav-pills pull-right">
    <li>@Html.ActionLink("Voltar", "Menu", "Nome")</li>
</ul>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th></th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var nomes in Model)
        {
            <tr>
                <td>@nomes.Id</td>
                <td>@nomes.NomeContato</td>    
                <td>@Html.RouteLink("Excluir", "ExcluirNome", new { id = nomes.Id })</td>
                <td> <a href="/Nome/AlterarNome/@nomes.Id">Alterar</a></td>                                
            </tr>
        }
    </tbody>
</table>